@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR&display=swap');

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,button{
    margin:0;
    padding:0;
    border:none;
    }
body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size:12px;
    color:#11172b
    }
li{
    list-style:none;
    }
a{
    color:#333;
    text-decoration:none;
    }
img{
    vertical-align:top;
    }
img,fieldset,iframe{
    border:0 none;
    }
    